/* Estilos base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #3f51b5;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px; /* Aumente o tamanho da fonte, se necessário */
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: color 0.3s;
  padding: 10px; /* Adicione um preenchimento */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra leve para destaque */
}

.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Destaque ao passar o mouse */
}

.toggle-button .fa-sun {
  display: inline; /* Mantenha o ícone do sol visível por padrão */
}

.toggle-button .fa-moon {
  display: none; /* Oculte o ícone da lua por padrão */
}

.dark-mode .toggle-button .fa-sun {
  display: none; /* Oculte o ícone do sol no modo escuro */
}

.dark-mode .toggle-button .fa-moon {
  display: inline; /* Exiba o ícone da lua no modo escuro */
}

/* Estilos da barra de pesquisa */
.search-container {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 20px 0;
  flex-wrap: wrap; /* Permite que os itens se ajustem em dispositivos menores */
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Faz o input ocupar 100% do espaço disponível */
  max-width: 300px; /* Define uma largura máxima */
  font-size: 16px;
  transition: border-color 0.3s;
  margin-right: 10px; /* Espaço à direita do input */
}

.search-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Cor do botão */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo para o botão em hover */
.search-container button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* Estilo para o modo escuro */
body.dark-mode .search-container input {
  background-color: #333; /* Fundo escuro */
  color: white; /* Texto claro */
  border: 1px solid #555; /* Borda mais clara */
}

body.dark-mode .search-container button {
  background-color: #555; /* Fundo escuro para o botão */
}

body.dark-mode .search-container button:hover {
  background-color: #444; /* Cor do botão ao passar o mouse no modo escuro */
}

/* Estilos gerais do modal */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Fixa o modal na tela */
  z-index: 1000; /* Coloca o modal acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Permite rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
}

/* Estilos para o conteúdo do modal */
.modal-content {
  background-color: #fff; /* Cor de fundo padrão */
  color: #333; /* Cor do texto */
  border: 1px solid #888; /* Borda do modal */
  border-radius: 10px;
  padding: 20px; /* Espaçamento interno */
  width: 90%; /* Largura do modal, maior em telas pequenas */
  max-width: 500px; /* Largura máxima */
  margin: auto; /* Centraliza o modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Rolagem vertical se o conteúdo exceder a altura */
  max-height: 80vh; /* Altura máxima do modal */
}

.modal-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.modal-content p {
  margin: 5px 0;
}

/* Estilos para o conteúdo da música */
.modal-content pre {
  font-family: 'Courier New', Courier, monospace; /* Fonte monoespaçada */
  white-space: pre-wrap; /* Mantém quebras de linha e espaços */
  word-wrap: break-word; /* Para quebrar palavras longas, se necessário */
  background-color: #f8f8f8; /* Fundo para o conteúdo */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Para rolagem horizontal se necessário */
  display: block; /* Garante que cada linha se mantenha em bloco */
}

.modal-content .close {
  cursor: pointer; /* Altera o cursor para ponteiro */
}

/* Estilos para o modo escuro */
.dark-mode .modal-content {
  background-color: #333; /* Cor de fundo do modal em modo escuro */
  color: #fff; /* Cor do texto em modo escuro */
  border: 1px solid #555; /* Borda do modal em modo escuro */
}

.dark-mode .modal-content h3 {
  color: #fff; /* Cor do título em modo escuro */
}

.dark-mode .modal-content p {
  color: #ccc; /* Cor do texto em modo escuro */
}

/* Para o conteúdo <pre> no modo escuro */
.dark-mode .modal-content pre {
  background-color: #444; /* Fundo do conteúdo <pre> em modo escuro */
  color: #fff; /* Cor do texto do conteúdo <pre> em modo escuro */
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  overflow-x: auto; /* Habilita rolagem horizontal se necessário */
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

/* Estilo da barra lateral fixa */
.sidebar {
  flex: 1;
  padding: 20px;
  background-image: url('caminho/para/imagem-de-fundo.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  position: absolute; /* Tornando a sidebar fixa */
  top: 10px; /* Espaço entre o topo da página e a barra lateral */
  height: calc(100vh - 585px); /* Altura da sidebar com base na altura da janela, mantendo margem */
  overflow-y: auto; /* Adicionando scroll interno para quando o conteúdo for maior que a barra lateral */
  max-width: 300px; /* Limita a largura da barra lateral */
}

/* Estilo para o título */
.sidebar h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #3f51b5;
}

/* Estilo do select */
.styled-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB...'); /* Ícone customizado */
  background-position: right 10px center;
  background-repeat: no-repeat;
}

/* Estilo do checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.styled-checkbox {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
}

/* Modo escuro */
.dark-mode .sidebar {
  background-color: rgba(30, 30, 30, 0.9);
  color: #e0e0e0;
}

.dark-mode .styled-select {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
}

.dark-mode .styled-checkbox {
  background-color: #444;
  border: 1px solid #555;
}

article {
  flex: 2;
  padding: 20px;
}

footer {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline; 
}

/* Estilos para modo escuro */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode header {
  background-color: #1e1e1e;
}

.dark-mode .sidebar {
  background-color: #2c2c2c;
}

.dark-mode footer {
  background-color: #1e1e1e;
}

.dark-mode .toggle-button {
  color: #e0e0e0;
}

/* Estilos para os acordes */
.acordes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.acordes-container > div {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.acordes-maiores {
  background-color: #e3f2fd;
}

.acordes-menores {
  background-color: #ffcdd2;
}

.acorde-diminuto {
  background-color: #f0f4c3;
  flex: 2;
}

/* Estilos para a exibição do campo harmônico */
#campoHarmonico {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

.acordes-maiores, .acordes-menores, .acorde-diminuto {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.acordes-maiores {
  background-color: #e3f2fd;
}

.acordes-menores {
  background-color: #ffcdd2;
}

.acorde-diminuto {
  background-color: #f0f4c3;
  flex: 2;
}

.acordes-maiores ul, .acordes-menores ul, .acorde-diminuto ul {
  list-style-type: none;
  padding-left: 0;
}

.acordes-maiores h3, .acordes-menores h3, .acorde-diminuto h3 {
  margin-bottom: 10px;
}

/* Estilos para escalas */
.escala-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.escala-maior {
  background-color: #bbdefb; /* Azul claro para escala maior */
}

.escala-menor {
  background-color: #ffccbc; /* Laranja claro para escala menor */
}

.escala-pentatonica {
  background-color: #dcedc8; /* Verde claro para escala pentatônica */
}

.escala h3 {
  margin-bottom: 10px;
}

.escala ul {
  list-style-type: none;
  padding-left: 0;
}

/* Estilo específico para a exibição das escalas */
#campoHarmonico.escala {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Estilos para a seção de Perguntas Frequentes (FAQ) */
#faq {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Cor de fundo neutra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#faq h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd; /* Borda leve para separar as perguntas */
  border-radius: 8px;
  transition: background-color 0.3s;
}

.faq-item h3 {
  margin: 0;
  cursor: pointer; /* Indica que pode ser clicável (se desejar adicionar interatividade) */
}

.faq-item p {
  margin-top: 10px;
}

/* Efeito hover para as perguntas */
.faq-item:hover {
  background-color: #f0f0f0; /* Destaque ao passar o mouse */
}

/* Estilos para modo escuro */
.dark-mode #faq {
  background-color: #2c2c2c; /* Fundo escuro para modo escuro */
}

.dark-mode .faq-item {
  border: 1px solid #444; /* Borda mais escura no modo escuro */
  color: #e0e0e0; /* Texto claro no modo escuro */
}

.dark-mode .faq-item:hover {
  background-color: #3c3c3c; /* Destaque ao passar o mouse no modo escuro */
}

/* Estilos para modo escuro das três primeiras seções */

/* Modo escuro para a seção de acordes */
.dark-mode .acordes-container > div {
  background-color: #2c2c2c;
  color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra mais suave no modo escuro */
}

.dark-mode .acordes-maiores {
  background-color: #3a3f51;
}

.dark-mode .acordes-menores {
  background-color: #4a3f4f;
}

.dark-mode .acorde-diminuto {
  background-color: #5f5f4f;
}

/* Modo escuro para o campo harmônico */
.dark-mode #campoHarmonico {
  background-color: #2c2c2c;
}

.dark-mode .acordes-maiores,
.dark-mode .acordes-menores,
.dark-mode .acorde-diminuto {
  color: #e0e0e0;
  background-color: #3a3a3a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .acordes-maiores h3, 
.dark-mode .acordes-menores h3, 
.dark-mode .acorde-diminuto h3 {
  color: #ffffff;
}

/* Modo escuro para a seção de escalas */
.dark-mode .escala-container {
  background-color: #2c2c2c;
  color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .escala-maior {
  background-color: #3a4f5c; /* Azul mais escuro para escala maior */
}

.dark-mode .escala-menor {
  background-color: #5c4740; /* Laranja escuro para escala menor */
}

.dark-mode .escala-pentatonica {
  background-color: #4b6145; /* Verde escuro para escala pentatônica */
}

.dark-mode .escala h3 {
  color: #ffffff;
}

.dark-mode .escala ul {
  color: #e0e0e0;
}

#musicas-categorias {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.categorias-container {
  display: flex;
  width: 100%;
}

.categorias {
  flex: 1;
  margin-right: 20px;
}

.categorias ul {
  list-style-type: none;
  padding: 0;
}

.categorias li {
  margin-bottom: 10px;
}

.categorias button {
  padding: 10px;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categorias button:hover {
  background-color: #e0e0e0;
}

.musicas {
  flex: 2;
}

#search-results {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
}

/* Estilização da Tabela */
table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove espaços entre bordas */
  margin: 20px 0; /* Margem superior e inferior */
  background-color: #fff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Esconde bordas que saem */
}

th, td {
  padding: 12px; /* Espaçamento interno das células */
  text-align: left; /* Alinhamento à esquerda */
  border-bottom: 1px solid #ddd; /* Linha inferior das células */
}

th {
  background-color: #f2f2f2; /* Fundo para cabeçalho */
  font-weight: bold; /* Negrito */
}

tr:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* Estilos para a seção de progressões populares */
#progressões-populares {
  background-color: #f9f9f9; /* Cor de fundo clara */
  padding: 40px 20px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Leve sombra para destacar */
}

#progressões-populares h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333; /* Cor do título principal */
}

.progressao-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.progressao-exemplo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra nas caixas individuais */
  width: 100%;
  max-width: 320px;
}

.progressao-exemplo h3 {
  font-size: 1.5rem;
  color: #2c3e50; /* Cor do subtítulo */
  margin-bottom: 15px;
}

.progressao-exemplo p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6; /* Espaçamento entre linhas */
}

.progressao-exemplo p strong {
  color: #2980b9; /* Destaque para as tonalidades */
}

/* Estilos para .dark-mode */
.dark-mode #progressões-populares {
  background-color: #2b2b2b; /* Fundo escuro */
  box-shadow: none; /* Remover sombra para modo escuro */
}

.dark-mode #progressões-populares h2 {
  color: #f1f1f1; /* Título claro */
}

.dark-mode .progressao-exemplo {
  background-color: #3a3a3a; /* Cor de fundo para os blocos */
  box-shadow: none; /* Remover sombra */
}

.dark-mode .progressao-exemplo h3 {
  color: #f1f1f1; /* Título das progressões claro */
}

.dark-mode .progressao-exemplo p {
  color: #d1d1d1; /* Texto dos parágrafos claro */
}

.dark-mode .progressao-exemplo p strong {
  color: #81c4ff; /* Destaque para as tonalidades em modo escuro */
}

/* Estilos para a Seção de ritmos mais populares */

#ritmos-populares {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.ritmo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ritmo-exemplo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.ritmo-exemplo h3 {
  color: #333;
}

.ritmo-exemplo p {
  color: #555;
}

/* Estilos para .dark-mode */

.dark-mode #ritmos-populares {
  background-color: #333;
  color: #f9f9f9;
}

.dark-mode .ritmo-exemplo {
  background-color: #444;
  border: 1px solid #666;
}

.dark-mode .ritmo-exemplo h3 {
  color: #fff;
}

.dark-mode .ritmo-exemplo p {
  color: #ddd;
}

/* Estilos para a seção de exemplos de batidas */

#exemplos-batidas {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.batida-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.batida-exemplo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.batida-exemplo h3 {
  color: #333;
}

.batida-exemplo p {
  color: #555;
}

#exemplos-praticos-batidas {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.pratica-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pratica-exemplo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.pratica-exemplo h3 {
  color: #333;
}

.pratica-exemplo p {
  color: #555;
}

#exemplos-praticos-batidas {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.pratica-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pratica-exemplo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.pratica-exemplo h3 {
  color: #333;
}

.pratica-exemplo p {
  color: #555;
}

.batida-grafico {
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0;
}

/*  Estilos para .dark-mode */

.dark-mode #exemplos-batidas {
  background-color: #333;
  color: #f9f9f9;
}

.dark-mode .batida-exemplo {
  background-color: #444;
  border: 1px solid #666;
}

.dark-mode .batida-exemplo h3 {
  color: #fff;
}

.dark-mode .batida-exemplo p {
  color: #ddd;
}

/* Estilos para a seção de ritmos para violão */

#ritmos-violao {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.rhythm-container {
  max-width: 1200px;
  margin: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 5px 0;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.nav-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.nav-button:hover:enabled {
  background-color: #0056b3;
}

/* Estilos para .dark-mode */

.dark-mode #ritmos-violao {
  background-color: #333;
  color: #f9f9f9;
}

.dark-mode .rhythm-container {
  background-color: #444;
  border: 1px solid #666;
}

.dark-mode .rhythm-container h3 {
  margin-left: 10px;
}

.dark-mode .card-container {
  color: #ddd;
}

.dark-mode .card {
  background-color: #333;
}

.dark-mode .navigation-buttons {
  margin-bottom: 10px;
}

/* Estilos para a seção sobre mim*/

#sobre-mim {
  padding: 2rem;
  background-color: #f9f9f9; /* Cor de fundo para modo claro */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o texto */
}

.sobre-mim-container {
  display: flex;
  flex-direction: column; /* Organiza em coluna */
  align-items: center; /* Centraliza os itens */
  gap: 20px;
}

.foto-sobre-mim {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.texto-sobre-mim {
  max-width: 600px; /* Limita a largura do texto para melhor leitura */
}

/* Estilização para o modo escuro */
.dark-mode #sobre-mim {
  background-color: #2c2c2c; /* Cor de fundo para modo escuro */
  color: #f9f9f9; /* Cor do texto */
}

.dark-mode .foto-sobre-mim {
  border: 2px solid #444; /* Ajusta a borda para modo escuro */
}

.dark-mode .texto-sobre-mim {
  color: #f9f9f9; /* Cor do texto para modo escuro */
}
