/* Estilização geral */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #010205;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h2 {
    color: #C9C7C2;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* Seletor de músicas */
.song-selector {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #944718;
    background-color: #010205;
    color: #C9C7C2;
    border-radius: 5px;
}

/* Container da TAB */
.tab-container {
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    border: 2px solid #944718;
    color: #C9C7C2;
    margin-bottom: 20px;
}

/* Estilo para a parte atual */
.current-part {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #C9C7C2;
}

/* Estilo para as cordas numeradas */
.tab-line {
    font-family: monospace;
    font-size: 1.2rem;
    color: #C9C7C2;
    padding: 8px;
    border-bottom: 1px solid #C9C7C2;
}

/* Botões de navegação */
.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

button {
    background-color: #944718;
    color: #C9C7C2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #C9C7C2;
    color: #944718;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    .tab-container {
        padding: 20px;
    }

    .tab-line {
        font-size: 1rem;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.4rem;
    }

    .tab-container {
        padding: 15px;
    }

    .tab-line {
        font-size: 0.9rem;
    }

    button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}
